.slider {
  &__slider-image {
    &:hover {
      transition: transform 0.8s;
      transform: scale(1.05);
    }

    &--active {
      border: 1px solid #5f6563;
    }
  }

  &__image {
    &:hover {
      transition: transform 0.8s;
      transform: scale(1.05);
    }
  }
}
